<!DOCTYPE html>
<html lang="en">
{% load static %} {% load crispy_forms_tags %}
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<style>
     #logo-img {
        height: 7em;
        width: 7em;
        object-fit: cover;
        object-position: center center;
    }
</style>
<body>

    <h1> REGISTRATION PAGE</h1>

    {% load crispy_forms_tags %}

    <form method = "post" action = "{% url 'home-page' %}">
     {% csrf_token %}

    {% if form.errors %}
    <h4> there are errors in the form</h4>
    {% endif %}

    {{ form|crispy }}
    <p><input type = "submit" value = "register"></p>
        <h2>Register to login <a href= "/accounts/login/">here</a></h2>
    </form>
</body>
</html>
