<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>LOG IN</title>
</head>
<h1>This is the login page for the library systems app </h1>
<h2> Please fill free to fill in the required credentials </h2>
<body>
    {% if form.errors %}
    <h3> There is something wrong you have entered!</h3>
    {% endif %}

    {% if next %}
    <p> You cannot access the next page</p>
    {% endif %}
    {% load crispy_forms_tags %}
    {% block content %}
    <form method = "post" class = "form_group" action="{% url 'login' %}">
          {% csrf_token %}
    {{ form|crispy }}
      <p><input type ="submit" = value = "Login"></p>
       <h2> Dont have an account ? Create one<a href = "/register">here</a></h2>
        <input type = "hidden" name = "next" value ="{{ next }}">
    </form>
    {% endblock %}
</body>
</html>